.ma-card {
  background: map-get($color, white);
  width: 100%;
  height: 100%;
  @extend .align-items-stretch;
  @extend .border-radius-sm;
  @extend .box-shadow-close;
  @extend .d-flex;
  @extend .justify-content-between;

  &__status {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: center;
    @extend .color-slate;
  }

  &__info {
    .ma-badge {
      border-radius: 100px;
    }

    .dates {
      &__detail {
        display: flex;
        width: 100%;

        .title {
          display: inline-block;
        }

        .address {
          margin-left: 15px;
          flex: 1 1 0%;
        }

        &--end {
          .address {
            margin-left: 22px;
          }
        }
      }
    }
  }

  &__time {
    min-width: 200px;
    @extend .align-items-center;
    @extend .align-content-center;
    @extend .border-left-2;
    @extend .border-left-style-dashed;
    @extend .border-color-extra-dark-snow;
    @extend .d-flex;
    @extend .flex-column;
    @extend .flex-center;
    @extend .px-3;

    .time, .label {
      text-align: center;
    }

    .time {
      @extend .font-size-lg;
    }

    .label {
      @extend .color-slate;
      @extend .font-size-sm;
      @extend .font-weight-9;
      @extend .line-height-3;
    }
  }

  &--positive {
    .ma-card__status {
      background-color: map-get($color, positive);
      color: map-get($color, white);
    }
  }

  &--info {
    .ma-card__status {
      background-color: map-get($color, info);
      color: map-get($color, white);
    }
  }

  &--warning {
    .ma-card__status {
      background-color: map-get($color, warning);
      color: map-get($color, white);
    }
  }

  &:hover {
    cursor: pointer;
    @extend .box-shadow-raised;
  }
}