.drive-view {
  color: map-get($color, darkPrimary);

  .float-btn-section {
    position: fixed;
    right: 10px;
    top: 17px;
    z-index: 2;
  }

  .map-section {
    border-bottom: 3px solid map-get($color, darkSmoke);
    height: 250px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .drives-section {
    z-index: 0;

    &--extra-top {
      padding-top: 300px;
    }

    .help-text {
      .icon {
        width: 10px;
        height: 10px;
        display: inline-block;
        border-radius: 100%;
      }
    }
  }
}

// Large devices (desktops, less than 1200px)
@include media-breakpoint-down(xl) {
  .expand {
    &[aria-expanded="false"] {
        height: 100px !important;
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-down(md) {
  .expand {
    &[aria-expanded="false"] {
        height: 130px !important;
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-down(sm) {
  .expand {
    &[aria-expanded="false"] {
        height: 250px !important;
    }
  }
}